<a href="https://colab.research.google.com/github/LFagundesN/PythonClass/blob/main/A1_Student_Scores_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **A1: Student Scores Python Assignment**

### Leticia Fagundes Netto

GitHub: https://github.com/LFagundesN/PythonClass/blob/270c8d7b2eeef6429b02cd5b3207b55bbcaf1417/A1_Student_Scores_Python_Assignment.ipynb

Write a short Python script that meets all the following requirements:

Your code must:

*  Define at least one function that performs a specific task.
*  Create and use a dictionary to store or process information.
*  Include a loop (either for or while) to iterate over data.
*  Use a conditional (if, elif, else) to make decisions.

In [1]:
# STUDENT DATA GENERATION SCRIPT – EXPLAINED
# Each student is assigned:
#   A unique student ID (e.g. St_1, St_2, ..., St_50)
#   A name generated by ChatGPT
#   Two grades (Grade 1 and Grade 2) generated randomly within realistic ranges:
#     • Grade 1 → random integer between 40 and 100
#     • Grade 2 → random integer between 30 and 100

# >>> CODE USED TO GENERATE IT:
#
import random

# List of 50 random student names (generated via ChatGPT)

names = [
    "Olivia Carter", "Ethan Brooks", "Sophia Bennett", "Noah Wallace", "Isabella Grant", "Liam Turner",
    "Amelia Foster", "Mason Clarke", "Ava Reynolds", "Lucas Hayes", "Mia Saunders", "Elijah Ford",
    "Charlotte Dean", "Henry Walsh", "Emily Lawson", "Benjamin Cole", "Grace Mitchell", "James Porter",
    "Lily Hart", "Daniel Webb", "Chloe Adams", "Alexander Drake", "Harper Quinn", "Jacob Palmer",
    "Ella Maxwell", "Samuel Bates", "Scarlett James", "Leo Armstrong", "Ivy Newman", "Caleb Ross",
    "Aria Blake", "Nathan Ellis", "Zoe Chapman", "Gabriel Lane", "Ruby Sinclair", "Isaac Doyle",
    "Nora Matthews", "Owen Barrett", "Isla Hudson", "Julian Shepherd", "Maya Gilbert", "Dylan Rhodes",
    "Sienna Fraser", "Aiden Lowe", "Violet Morgan", "Ryan Bell", "Penelope Hughes", "Austin McCarthy",
    "Eliza Rowe", "Theo Nash"
]

# Function to generate student records with random grades
def generate_student_data():
    student_data = []
    for i, name in enumerate(names):
        student_id = f"St_{i+1}"                    # Generate sequential ID (e.g., St_1)
        grade1 = random.randint(40, 100)            # Grade 1: realistic score range
        grade2 = random.randint(30, 100)            # Grade 2: realistic score range
        student_data.append((student_id, name, grade1, grade2))  # Store as tuple
    return student_data

# Generate the dataset
students = generate_student_data()

# Display all 50 entries (Student ID, Name, Grade 1, Grade 2)
print("Generated Student Data (St_id, Name, Grade 1, Grade 2):\n")
for student in students:
    print(student)

Generated Student Data (St_id, Name, Grade 1, Grade 2):

('St_1', 'Olivia Carter', 87, 45)
('St_2', 'Ethan Brooks', 50, 86)
('St_3', 'Sophia Bennett', 55, 79)
('St_4', 'Noah Wallace', 85, 87)
('St_5', 'Isabella Grant', 82, 53)
('St_6', 'Liam Turner', 77, 69)
('St_7', 'Amelia Foster', 73, 39)
('St_8', 'Mason Clarke', 96, 39)
('St_9', 'Ava Reynolds', 50, 73)
('St_10', 'Lucas Hayes', 91, 73)
('St_11', 'Mia Saunders', 93, 45)
('St_12', 'Elijah Ford', 70, 59)
('St_13', 'Charlotte Dean', 60, 67)
('St_14', 'Henry Walsh', 51, 70)
('St_15', 'Emily Lawson', 47, 76)
('St_16', 'Benjamin Cole', 73, 79)
('St_17', 'Grace Mitchell', 54, 64)
('St_18', 'James Porter', 86, 50)
('St_19', 'Lily Hart', 88, 75)
('St_20', 'Daniel Webb', 67, 51)
('St_21', 'Chloe Adams', 77, 96)
('St_22', 'Alexander Drake', 97, 62)
('St_23', 'Harper Quinn', 55, 31)
('St_24', 'Jacob Palmer', 60, 52)
('St_25', 'Ella Maxwell', 97, 64)
('St_26', 'Samuel Bates', 43, 33)
('St_27', 'Scarlett James', 100, 91)
('St_28', 'Leo Armstrong', 51, 44)
('St_29', 'Ivy Newman', 81, 33)
('St_30', 'Caleb Ross', 79, 59)
('St_31', 'Aria Blake', 79, 67)
('St_32', 'Nathan Ellis', 80, 90)
('St_33', 'Zoe Chapman', 77, 38)
('St_34', 'Gabriel Lane', 66, 71)
('St_35', 'Ruby Sinclair', 51, 73)
('St_36', 'Isaac Doyle', 51, 80)
('St_37', 'Nora Matthews', 87, 93)
('St_38', 'Owen Barrett', 95, 60)
('St_39', 'Isla Hudson', 70, 34)
('St_40', 'Julian Shepherd', 41, 65)
('St_41', 'Maya Gilbert', 94, 79)
('St_42', 'Dylan Rhodes', 87, 30)
('St_43', 'Sienna Fraser', 57, 91)
('St_44', 'Aiden Lowe', 72, 44)
('St_45', 'Violet Morgan', 59, 68)
('St_46', 'Ryan Bell', 72, 88)
('St_47', 'Penelope Hughes', 96, 47)
('St_48', 'Austin McCarthy', 55, 88)
('St_49', 'Eliza Rowe', 91, 47)
('St_50', 'Theo Nash', 63, 89)

In [10]:
# Student Dataset (Dictionary Format)
# This dictionary contains a fixed set of student data.
# Each student is represented by a unique ID (e.g., 'St_1').
# The value for each ID is another dictionary holding:
# - 'name': Full student name
# - 'grade1': Grade from the first assessment
# - 'grade2': Grade from the second assessment

# The original list was generated and then edited manually to:
# - Fix outlier or unrealistic data points
# - Create a more balanced sample (e.g., diversity in grades)
# - Ensure names and scores are aligned with assignment needs

students = {
    'St_1': {'name': 'Olivia Carter', 'grade1': 77, 'grade2': 89},
    'St_2': {'name': 'Ethan Brooks', 'grade1': 61, 'grade2': 46},
    'St_3': {'name': 'Sophia Bennett', 'grade1': 89, 'grade2': 59},
    'St_4': {'name': 'Noah Wallace', 'grade1': 87, 'grade2': 81},
    'St_5': {'name': 'Isabella Grant', 'grade1': 73, 'grade2': 85},
    'St_6': {'name': 'Liam Turner', 'grade1': 76, 'grade2': 94},
    'St_7': {'name': 'Amelia Foster', 'grade1': 74, 'grade2': 50},
    'St_8': {'name': 'Mason Clarke', 'grade1': 64, 'grade2': 79},
    'St_9': {'name': 'Ava Reynolds', 'grade1': 90, 'grade2': 87},
    'St_10': {'name': 'Lucas Hayes', 'grade1': 76, 'grade2': 40},
    'St_11': {'name': 'Mia Saunders', 'grade1': 52, 'grade2': 88},
    'St_12': {'name': 'Elijah Ford', 'grade1': 79, 'grade2': 70},
    'St_13': {'name': 'Charlotte Dean', 'grade1': 92, 'grade2': 98},
    'St_14': {'name': 'Henry Walsh', 'grade1': 81, 'grade2': 87},
    'St_15': {'name': 'Emily Lawson', 'grade1': 80, 'grade2': 77},
    'St_16': {'name': 'Benjamin Cole', 'grade1': 83, 'grade2': 77},
    'St_17': {'name': 'Grace Mitchell', 'grade1': 69, 'grade2': 57},
    'St_18': {'name': 'James Porter', 'grade1': 78, 'grade2': 99},
    'St_19': {'name': 'Lily Hart', 'grade1': 87, 'grade2': 75},
    'St_20': {'name': 'Daniel Webb', 'grade1': 67, 'grade2': 82},
    'St_21': {'name': 'Chloe Adams', 'grade1': 59, 'grade2': 68},
    'St_22': {'name': 'Alexander Drake', 'grade1': 46, 'grade2': 76},
    'St_23': {'name': 'Harper Quinn', 'grade1': 60, 'grade2': 30},
    'St_24': {'name': 'Jacob Palmer', 'grade1': 97, 'grade2': 85},
    'St_25': {'name': 'Ella Maxwell', 'grade1': 56, 'grade2': 41},
    'St_26': {'name': 'Samuel Bates', 'grade1': 64, 'grade2': 49},
    'St_27': {'name': 'Scarlett James', 'grade1': 84, 'grade2': 87},
    'St_28': {'name': 'Leo Armstrong', 'grade1': 81, 'grade2': 57},
    'St_29': {'name': 'Ivy Newman', 'grade1': 100, 'grade2': 79},
    'St_30': {'name': 'Caleb Ross', 'grade1': 75, 'grade2': 54},
    'St_31': {'name': 'Aria Blake', 'grade1': 59, 'grade2': 32},
    'St_32': {'name': 'Nathan Ellis', 'grade1': 100, 'grade2': 79},
    'St_33': {'name': 'Zoe Chapman', 'grade1': 51, 'grade2': 72},
    'St_34': {'name': 'Gabriel Lane', 'grade1': 75, 'grade2': 48},
    'St_35': {'name': 'Ruby Sinclair', 'grade1': 66, 'grade2': 84},
    'St_36': {'name': 'Isaac Doyle', 'grade1': 88, 'grade2': 100},
    'St_37': {'name': 'Nora Matthews', 'grade1': 65, 'grade2': 86},
    'St_38': {'name': 'Owen Barrett', 'grade1': 92, 'grade2': 44},
    'St_39': {'name': 'Isla Hudson', 'grade1': 64, 'grade2': 55},
    'St_40': {'name': 'Julian Shepherd', 'grade1': 91, 'grade2': 79},
    'St_41': {'name': 'Maya Gilbert', 'grade1': 87, 'grade2': 42},
    'St_42': {'name': 'Dylan Rhodes', 'grade1': 76, 'grade2': 70},
    'St_43': {'name': 'Sienna Fraser', 'grade1': 64, 'grade2': 85},
    'St_44': {'name': 'Aiden Lowe', 'grade1': 63, 'grade2': 90},
    'St_45': {'name': 'Violet Morgan', 'grade1': 60, 'grade2': 36},
    'St_46': {'name': 'Ryan Bell', 'grade1': 68, 'grade2': 86},
    'St_47': {'name': 'Penelope Hughes', 'grade1': 80, 'grade2': 92},
    'St_48': {'name': 'Austin McCarthy', 'grade1': 59, 'grade2': 74},
    'St_49': {'name': 'Eliza Rowe', 'grade1': 78, 'grade2': 93},
    'St_50': {'name': 'Theo Nash', 'grade1': 83, 'grade2': 74}
}

# Code and formatting assistance was provided by ChatGPT.

In [7]:
# Final Grades
def final_grades(data):
    return [
        (st_id, name, g1, g2, round((g1 + 2 * g2) / 3, 2)) # Calculate final grade as weighted average
        for (st_id, name, g1, g2) in data
    ]

In [ ]:
# Function: Average Grades Calculator
def average_grades(grades_list):
    return round(sum(grades_list) / len(grades_list), 2)

In [ ]:
# Average Grades
students_with_final = final_grades(students)
finals = [entry[4] for entry in students_with_final]
g1s = [entry[2] for entry in students_with_final]
g2s = [entry[3] for entry in students_with_final]

# Calculate Averages with the functions
avg_g1 = average_grades(g1s)
avg_g2 = average_grades(g2s)
avg = average_grades(finals)

print(f"Average Grade 1: {avg_g1}")
print(f"Average Grade 2: {avg_g2}")
print(f"Average Final Grade: {avg}")

In [ ]:
# Function: Top 5 Highest Grades Calculator

def highest_grades(grades_list, limit=5):
     return sorted(grades_list, reverse=True)[:limit]

In [ ]:
# Highest Grades - Top 5

# Calculate Highest Grades the functions
hg_g1 = highest_grades(g1s)
hg_g2 = highest_grades(g2s)
hg_fg = highest_grades(finals)

print(f"Highest Grade 1: {hg_g1}")
print(f"Highest Grade 2: {hg_g2}")
print(f"Highest Final Grade: {hg_fg}")

In [ ]:
# Function: Top 5 Highest Grades Names Calculator
def top_students(data, grade_index, limit=5):
    sorted_data = sorted(data, key=lambda x: x[grade_index], reverse=True)
    return [(entry[1], entry[grade_index]) for entry in sorted_data[:limit]]

In [ ]:
top_g1 = top_students(students_with_final, 2)
top_g2 = top_students(students_with_final, 3)
top_final = top_students(students_with_final, 4)

print("\nTop G1:", top_g1)
print("\nTop G2:", top_g2)
print("\nTop Final:", top_final)

In [ ]:
# Better format of the previous Output

print("\nTop 5 - Grade 1:")
for i, (name, grade) in enumerate(top_g1, start=1):
    print(f"{i}. {name} - {grade}")

print("\nTop 5 - Grade 2:")
for i, (name, grade) in enumerate(top_g2, start=1):
    print(f"{i}. {name} - {grade}")

print("\nTop 5 - Final Grade:")
for i, (name, grade) in enumerate(top_final, start=1):
    print(f"{i}. {name} - {grade}")

Grading System Classification by Final Grade:

*   Passed with Distinction: >85
*   Passed with Merit: 70–85 (inclusive)
*   Passed: 50-69
*   Failed: <50

In [ ]:
# Function: Classifying Students by Final Grade
# Count how many students passed, failed, or earned distinctions

def classify_students(data):

    distinction = 0
    merit = 0
    passed = 0
    failed = 0

    for student in data:
        final = student[4]

        if final > 85:
            distinction += 1
        elif 70 <= final <= 85:
            merit += 1
        elif 50 <= final < 70:
            passed += 1
        else:
            failed += 1

    return distinction, merit, passed, failed

In [ ]:
# Classifying Students by Final Grade

distinction, merit, passed, failed = classify_students(students_with_final)

print("\nSummary:")
print(f"Total Students: {TotalStudents}")
print(f"Distinction: {distinction} | Merit: {merit} | Pass: {passed} | Fail: {failed}")

In [ ]:
# Classifying Students by Final Grade - Calculations

TotalPassed = sum([distinction, merit, passed])
TotalFailed = failed
TotalStudents = TotalPassed + TotalFailed

print(f"Total Passed: {TotalPassed}")
print(f"Total Failed: {TotalFailed}")
Pct_Passed = round((TotalPassed / TotalStudents) * 100, 2)
Pct_Failed = round((TotalFailed / TotalStudents) * 100, 2)

print(f"Percentage Passed: {Pct_Passed}%")
print(f"Percentage Failed: {Pct_Failed}%")

## References

OpenAI. (2024). *ChatGPT* (May 2024 version) [Large language model]. https://chat.openai.com/

Stack Overflow user. (2024, May 18). *How to sort a list of tuples by the second element?* [Online forum comment]. Stack Overflow. https://stackoverflow.com/questions/613183/how-do-i-sort-a-dictionary-by-value