<a href="https://colab.research.google.com/github/LFagundesN/PythonClass/blob/main/A1_Student_Scores_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **A1: Student Scores Python Assignment**

### Leticia Fagundes Netto

Documents with the Codes used to create the random entries for the Student Scores -> [Creating the Entries for the Assignment](https://github.com/LFagundesN/PythonClass/blob/34b256d880ea05a5aa20a0b9eb6bf54b45a1530c/Assignment_1_Generating_data.ipynb)

Write a short Python script that meets all the following requirements:

Your code must:

*  Define at least one function that performs a specific task.
*  Create and use a dictionary to store or process information.
*  Include a loop (either for or while) to iterate over data.
*  Use a conditional (if, elif, else) to make decisions.

In [14]:
students = [
    ('St_1', 'Olivia Carter', 77, 89),
    ('St_2', 'Ethan Brooks', 61, 46),
    ('St_3', 'Sophia Bennett', 89, 59),
    ('St_4', 'Noah Wallace', 87, 81),
    ('St_5', 'Isabella Grant', 73, 85),
    ('St_6', 'Liam Turner', 76, 94),
    ('St_7', 'Amelia Foster', 74, 50),
    ('St_8', 'Mason Clarke', 64, 79),
    ('St_9', 'Ava Reynolds', 90, 87),
    ('St_10', 'Lucas Hayes', 76, 40),
    ('St_11', 'Mia Saunders', 52, 88),
    ('St_12', 'Elijah Ford', 79, 70),
    ('St_13', 'Charlotte Dean', 92, 98),
    ('St_14', 'Henry Walsh', 81, 87),
    ('St_15', 'Emily Lawson', 80, 77),
    ('St_16', 'Benjamin Cole', 83, 77),
    ('St_17', 'Grace Mitchell', 69, 57),
    ('St_18', 'James Porter', 78, 99),
    ('St_19', 'Lily Hart', 87, 75),
    ('St_20', 'Daniel Webb', 67, 82),
    ('St_21', 'Chloe Adams', 59, 68),
    ('St_22', 'Alexander Drake', 46, 76),
    ('St_23', 'Harper Quinn', 60, 30),
    ('St_24', 'Jacob Palmer', 97, 85),
    ('St_25', 'Ella Maxwell', 56, 41),
    ('St_26', 'Samuel Bates', 64, 49),
    ('St_27', 'Scarlett James', 84, 87),
    ('St_28', 'Leo Armstrong', 81, 57),
    ('St_29', 'Ivy Newman', 100, 79),
    ('St_30', 'Caleb Ross', 75, 54),
    ('St_31', 'Aria Blake', 59, 32),
    ('St_32', 'Nathan Ellis', 100, 79),
    ('St_33', 'Zoe Chapman', 51, 72),
    ('St_34', 'Gabriel Lane', 75, 48),
    ('St_35', 'Ruby Sinclair', 66, 84),
    ('St_36', 'Isaac Doyle', 88, 100),
    ('St_37', 'Nora Matthews', 65, 86),
    ('St_38', 'Owen Barrett', 92, 44),
    ('St_39', 'Isla Hudson', 64, 55),
    ('St_40', 'Julian Shepherd', 91, 79),
    ('St_41', 'Maya Gilbert', 87, 42),
    ('St_42', 'Dylan Rhodes', 76, 70),
    ('St_43', 'Sienna Fraser', 64, 85),
    ('St_44', 'Aiden Lowe', 63, 90),
    ('St_45', 'Violet Morgan', 60, 36),
    ('St_46', 'Ryan Bell', 68, 86),
    ('St_47', 'Penelope Hughes', 80, 92),
    ('St_48', 'Austin McCarthy', 59, 74),
    ('St_49', 'Eliza Rowe', 78, 93),
    ('St_50', 'Theo Nash', 83, 74)
]

In [15]:
# Final Grades

def final_grades(data):
    return [
        (st_id, name, g1, g2, round((g1 + 2 * g2) / 3, 2))
        for (st_id, name, g1, g2) in data
    ]

In [16]:
# Function: Average Grades Calculator
def average_grades(grades_list):
    return round(sum(grades_list) / len(grades_list), 2)

In [17]:
# Average Grades
students_with_final = final_grades(students)
finals = [entry[4] for entry in students_with_final]
g1s = [entry[2] for entry in students_with_final]
g2s = [entry[3] for entry in students_with_final]

# Calculate Averages with the functions
avg_g1 = average_grades(g1s)
avg_g2 = average_grades(g2s)
avg = average_grades(finals)

print(f"Average Grade 1: {avg_g1}")
print(f"Average Grade 2: {avg_g2}")
print(f"Average Final Grade: {avg}")

Average Grade 1: 74.52
Average Grade 2: 71.34
Average Final Grade: 72.4

In [29]:
# Function: Top 5 Highest Grades Calculator

def highest_grades(grades_list, limit=5):
     return sorted(grades_list, reverse=True)[:limit]

In [32]:
# Highest Grades - Top 5

# Calculate Highest Grades the functions
hg_g1 = highest_grades(g1s)
hg_g2 = highest_grades(g2s)
hg_fg = highest_grades(finals)

print(f"Highest Grade 1: {hg_g1}")
print(f"Highest Grade 2: {hg_g2}")
print(f"Highest Final Grade: {hg_fg}")

Highest Grade 1: [100, 100, 97, 92, 92]
Highest Grade 2: [100, 99, 98, 94, 93]
Highest Final Grade: [96.0, 96.0, 92.0, 89.0, 88.0]

In [62]:
# Function: Top 5 Highest Grades Names Calculator
def top_students(data, grade_index, limit=5):
    sorted_data = sorted(data, key=lambda x: x[grade_index], reverse=True)
    return [(entry[1], entry[grade_index]) for entry in sorted_data[:limit]]

In [68]:
top_g1 = top_students(students_with_final, 2)
top_g2 = top_students(students_with_final, 3)
top_final = top_students(students_with_final, 4)

print("\nTop G1:", top_g1)
print("\nTop G2:", top_g2)
print("\nTop Final:", top_final)

Top G1: [('Ivy Newman', 100), ('Nathan Ellis', 100), ('Jacob Palmer', 97), ('Charlotte Dean', 92), ('Owen Barrett', 92)]

Top G2: [('Isaac Doyle', 100), ('James Porter', 99), ('Charlotte Dean', 98), ('Liam Turner', 94), ('Eliza Rowe', 93)]

Top Final: [('Charlotte Dean', 96.0), ('Isaac Doyle', 96.0), ('James Porter', 92.0), ('Jacob Palmer', 89.0), ('Liam Turner', 88.0)]

In [69]:
# Better format of the previous Output

print("\nTop 5 - Grade 1:")
for i, (name, grade) in enumerate(top_g1, start=1):
    print(f"{i}. {name} - {grade}")

print("\nTop 5 - Grade 2:")
for i, (name, grade) in enumerate(top_g2, start=1):
    print(f"{i}. {name} - {grade}")

print("\nTop 5 - Final Grade:")
for i, (name, grade) in enumerate(top_final, start=1):
    print(f"{i}. {name} - {grade}")

Top 5 - Grade 1:
1. Ivy Newman - 100
2. Nathan Ellis - 100
3. Jacob Palmer - 97
4. Charlotte Dean - 92
5. Owen Barrett - 92

Top 5 - Grade 2:
1. Isaac Doyle - 100
2. James Porter - 99
3. Charlotte Dean - 98
4. Liam Turner - 94
5. Eliza Rowe - 93

Top 5 - Final Grade:
1. Charlotte Dean - 96.0
2. Isaac Doyle - 96.0
3. James Porter - 92.0
4. Jacob Palmer - 89.0
5. Liam Turner - 88.0

Grading System Classification by Final Grade:

*   Passed with Distinction: >85
*   Passed with Merit: 70–85 (inclusive)
*   Passed: 50-69
*   Failed: <50

In [72]:
# Function: Classifying Students by Final Grade

def classify_students(data):

    distinction = 0
    merit = 0
    passed = 0
    failed = 0

    for student in data:
        final = student[4]

        if final > 85:
            distinction += 1
        elif 70 <= final <= 85:
            merit += 1
        elif 50 <= final < 70:
            passed += 1
        else:
            failed += 1

    return distinction, merit, passed, failed

In [80]:
# Classifying Students by Final Grade

distinction, merit, passed, failed = classify_students(students_with_final)

print()
print("Grade Classification:")
print()
print(f"Distinction (>85): {distinction}")
print(f"Merit (70–85): {merit}")
print(f"Pass (50–69): {passed}")
print(f"Fail (<50): {failed}")

Grade Classification:

Distinction (>85): 11
Merit (70–85): 19
Pass (50–69): 16
Fail (<50): 4

In [88]:
# Classifying Students by Final Grade - Calculations

TotalPassed = sum([distinction, merit, passed])
TotalFailed = failed
TotalStudents = TotalPassed + TotalFailed

print(f"Total Passed: {TotalPassed}")
print(f"Total Failed: {TotalFailed}")
print(f"Total Students: {TotalStudents}")

Pct_Passed = round((TotalPassed / TotalStudents) * 100, 2)
Pct_Failed = round((TotalFailed / TotalStudents) * 100, 2)

print(f"Percentage Passed: {Pct_Passed}%")
print(f"Percentage Failed: {Pct_Failed}%")

Total Passed: 46
Total Failed: 4
Total Students: 50
Percentage Passed: 92.0%
Percentage Failed: 8.0%