<a href="https://colab.research.google.com/github/LFagundesN/PythonClass/blob/main/Assignment_1_Generating_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **A1: Python Fundamentals - Creating the Entries for the Assignment**

### Leticia Fagundes Netto

Idea Description: 50 entries about Student Scores Summary

*   Student Name - Generated by Chat GPT
*   Grade 1 - Generated by Random
*   Grade 2 - Generated by Random
*   Final Grade (Calculated through a function) = (Grade 1 + Grade 2 *2 ) / 3

In [76]:
import random

# 50 random names generated by GPT
names = [
    "Olivia Carter", "Ethan Brooks", "Sophia Bennett", "Noah Wallace", "Isabella Grant", "Liam Turner",
    "Amelia Foster", "Mason Clarke", "Ava Reynolds", "Lucas Hayes", "Mia Saunders", "Elijah Ford",
    "Charlotte Dean", "Henry Walsh", "Emily Lawson", "Benjamin Cole", "Grace Mitchell", "James Porter",
    "Lily Hart", "Daniel Webb", "Chloe Adams", "Alexander Drake", "Harper Quinn", "Jacob Palmer",
    "Ella Maxwell", "Samuel Bates", "Scarlett James", "Leo Armstrong", "Ivy Newman", "Caleb Ross",
    "Aria Blake", "Nathan Ellis", "Zoe Chapman", "Gabriel Lane", "Ruby Sinclair", "Isaac Doyle",
    "Nora Matthews", "Owen Barrett", "Isla Hudson", "Julian Shepherd", "Maya Gilbert", "Dylan Rhodes",
    "Sienna Fraser", "Aiden Lowe", "Violet Morgan", "Ryan Bell", "Penelope Hughes", "Austin McCarthy",
    "Eliza Rowe", "Theo Nash"
]

def generate_student_data():
    student_data = []

    for i, name in enumerate(names):
        student_id = f"St_{i+1}"
        grade1 = random.randint(40, 100)
        grade2 = random.randint(30, 100)

        student_data.append((student_id, name, grade1, grade2))

    return student_data

In [77]:
# Generate data
students = generate_student_data()

# Display all 50 entries
print("Generated Student Data (St_id, Name, Grade 1, Grade 2):\n")
for student in students:
    print(student)

Generated Student Data (St_id, Name, Grade 1, Grade 2):

('St_1', 'Olivia Carter', 77, 89)
('St_2', 'Ethan Brooks', 61, 45)
('St_3', 'Sophia Bennett', 89, 59)
('St_4', 'Noah Wallace', 87, 81)
('St_5', 'Isabella Grant', 68, 85)
('St_6', 'Liam Turner', 66, 94)
('St_7', 'Amelia Foster', 64, 40)
('St_8', 'Mason Clarke', 44, 79)
('St_9', 'Ava Reynolds', 90, 87)
('St_10', 'Lucas Hayes', 76, 41)
('St_11', 'Mia Saunders', 52, 88)
('St_12', 'Elijah Ford', 79, 70)
('St_13', 'Charlotte Dean', 92, 97)
('St_14', 'Henry Walsh', 81, 57)
('St_15', 'Emily Lawson', 80, 36)
('St_16', 'Benjamin Cole', 81, 77)
('St_17', 'Grace Mitchell', 57, 74)
('St_18', 'James Porter', 68, 99)
('St_19', 'Lily Hart', 86, 76)
('St_20', 'Daniel Webb', 64, 92)
('St_21', 'Chloe Adams', 59, 68)
('St_22', 'Alexander Drake', 46, 77)
('St_23', 'Harper Quinn', 59, 30)
('St_24', 'Jacob Palmer', 97, 62)
('St_25', 'Ella Maxwell', 40, 38)
('St_26', 'Samuel Bates', 62, 49)
('St_27', 'Scarlett James', 84, 87)
('St_28', 'Leo Armstrong', 81, 55)
('St_29', 'Ivy Newman', 99, 45)
('St_30', 'Caleb Ross', 75, 54)
('St_31', 'Aria Blake', 59, 30)
('St_32', 'Nathan Ellis', 98, 76)
('St_33', 'Zoe Chapman', 51, 71)
('St_34', 'Gabriel Lane', 75, 46)
('St_35', 'Ruby Sinclair', 66, 82)
('St_36', 'Isaac Doyle', 71, 100)
('St_37', 'Nora Matthews', 65, 87)
('St_38', 'Owen Barrett', 90, 43)
('St_39', 'Isla Hudson', 64, 55)
('St_40', 'Julian Shepherd', 91, 79)
('St_41', 'Maya Gilbert', 87, 30)
('St_42', 'Dylan Rhodes', 74, 70)
('St_43', 'Sienna Fraser', 64, 97)
('St_44', 'Aiden Lowe', 62, 97)
('St_45', 'Violet Morgan', 61, 36)
('St_46', 'Ryan Bell', 61, 56)
('St_47', 'Penelope Hughes', 80, 92)
('St_48', 'Austin McCarthy', 49, 34)
('St_49', 'Eliza Rowe', 47, 93)
('St_50', 'Theo Nash', 63, 84)

After running the code a couple of times, I copied the results and edited a few values for a more realistic data:

This was the final result:

```
students = [
    ('St_1', 'Olivia Carter', 77, 89),
    ('St_2', 'Ethan Brooks', 61, 46),
    ('St_3', 'Sophia Bennett', 89, 59),
    ('St_4', 'Noah Wallace', 87, 81),
    ('St_5', 'Isabella Grant', 73, 85),
    ('St_6', 'Liam Turner', 76, 94),
    ('St_7', 'Amelia Foster', 74, 50),
    ('St_8', 'Mason Clarke', 64, 79),
    ('St_9', 'Ava Reynolds', 90, 87),
    ('St_10', 'Lucas Hayes', 76, 40),
    ('St_11', 'Mia Saunders', 52, 88),
    ('St_12', 'Elijah Ford', 79, 70),
    ('St_13', 'Charlotte Dean', 92, 98),
    ('St_14', 'Henry Walsh', 81, 87),
    ('St_15', 'Emily Lawson', 80, 77),
    ('St_16', 'Benjamin Cole', 83, 77),
    ('St_17', 'Grace Mitchell', 69, 57),
    ('St_18', 'James Porter', 78, 99),
    ('St_19', 'Lily Hart', 87, 75),
    ('St_20', 'Daniel Webb', 67, 82),
    ('St_21', 'Chloe Adams', 59, 68),
    ('St_22', 'Alexander Drake', 46, 76),
    ('St_23', 'Harper Quinn', 60, 30),
    ('St_24', 'Jacob Palmer', 97, 85),
    ('St_25', 'Ella Maxwell', 56, 41),
    ('St_26', 'Samuel Bates', 64, 49),
    ('St_27', 'Scarlett James', 84, 87),
    ('St_28', 'Leo Armstrong', 81, 57),
    ('St_29', 'Ivy Newman', 100, 79),
    ('St_30', 'Caleb Ross', 75, 54),
    ('St_31', 'Aria Blake', 59, 32),
    ('St_32', 'Nathan Ellis', 100, 79),
    ('St_33', 'Zoe Chapman', 51, 72),
    ('St_34', 'Gabriel Lane', 75, 48),
    ('St_35', 'Ruby Sinclair', 66, 84),
    ('St_36', 'Isaac Doyle', 88, 100),
    ('St_37', 'Nora Matthews', 65, 86),
    ('St_38', 'Owen Barrett', 92, 44),
    ('St_39', 'Isla Hudson', 64, 55),
    ('St_40', 'Julian Shepherd', 91, 79),
    ('St_41', 'Maya Gilbert', 87, 42),
    ('St_42', 'Dylan Rhodes', 76, 70),
    ('St_43', 'Sienna Fraser', 64, 85),
    ('St_44', 'Aiden Lowe', 63, 90),
    ('St_45', 'Violet Morgan', 60, 36),
    ('St_46', 'Ryan Bell', 68, 86),
    ('St_47', 'Penelope Hughes', 80, 92),
    ('St_48', 'Austin McCarthy', 59, 74),
    ('St_49', 'Eliza Rowe', 78, 93),
    ('St_50', 'Theo Nash', 83, 74)
]

```